<!-- Footer -->
<footer class="page-footer font-small blue py-3 text-white background-color">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <div class="row-md-4">
          <h5 class="text-white pb-2">Bucket</h5>
        </div>


        <p>Acerca de</p>

      </div>


      <!-- Grid column -->
      <div class="col mb-md-0 mb-3">

        <!-- Links -->
        <a href="https://www.facebook.com/bucketapp.com.mx/"> <i class="icon-facebook "></i></a>

      </div>
      <!-- Grid column -->
      <div class="col mb-md-0 mb-3">
        <!-- Links -->
        <a href="/"><i class="icon-twitter "></i></a>

      </div>
      <!-- Grid column -->
      <div class="col mb-md-0 mb-3">
        <!-- Links -->
        <a href="/"><i class="icon-instagram "></i></a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center pb-5">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->