<nav class="navbar navbar-expand-lg navbar-dark  tabs is-centered is-fullwidth backgroundcolornavbar" #stickyMenu
    [class.sticky]="sticky">
    <div class="container mt-2 text-white">
        <img src="assets/img/app_Icon_white.png" class="img-fluid form-group" width="40px" height="45px" alt="...">
        <a class="h3 text-white pr-2"> Bucket</a>
        <span class=" border-left pl-2 ">CarWash Movil</span>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-5">
                <li class="nav-item  ">
                    <a class="nav-link lead text-white" (click)="index()"  data-toggle="collapse" data-target="#navbarNav" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lead text-white" *ngIf="this.userService.getToken()!=undefined"
                        (click)="service()"  data-toggle="collapse" data-target="#navbarNav" routerLink="/bucket-service">Servicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lead text-white" *ngIf="this.userService.getToken()!=undefined"
                        (click)="logOut();" routerLink="/">Cerrar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lead text-white" *ngIf="this.userService.getToken()==undefined"
                        (click)="logIn();"  data-toggle="collapse" data-target="#navbarNav" routerLink="/login">Iniciar
                        Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lead text-white" *ngIf="this.userService.getToken()==undefined"
                       (click)="signIn()" data-toggle="collapse" data-target="#navbarNav" routerLink="/signin">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>