.background-image { 
    width: 100%;
    height: 100vh;
    background: url("~/assets/img/fondo2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
