<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

  <div class="form-group w-100">
    <input type="text" class="form-control w-100" (keydown.enter)="$event.preventDefault()"
      placeholder="Buscar dirección..." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <agm-map [latitude]="latMap" [longitude]="lngMap" [scrollwheel]="true" [fullscreenControl]="true" [zoom]="16"
    [usePanning]="true" (centerChange)="placeMarker($event)" (dragEnd)="markerDragEnd($event)">
    <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
    <agm-circle [latitude]="latMap" [longitude]="lngMap" [radius]="firsCircleArearadius" [fillColor]="'transparent'">
    </agm-circle>
    <agm-circle [latitude]="latMap" [longitude]="lngMap" [radius]="seccondCircleArearadius" [fillColor]="'transparent'">
    </agm-circle>
    <agm-circle [latitude]="latMap" [longitude]="lngMap" [radius]="thirdCircleArearadius" [fillColor]="'transparent'">
    </agm-circle>
  </agm-map>
