

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  agm-map {
    height:400px;
    width: 400px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  agm-map {
    height:400px;
    width: 450px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  agm-map {
    height:500px;
    width: 400px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  agm-map {
    height:500px;
    width: 500px;
  }  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  agm-map {
    height:500px;
    width: 600px;
  }
}