<div class="container-fluid background-image">
    <div class="container ">
        <img src="assets/img/bucket_logo.png" class=" mx-auto d-block img-fluid form-group" width="50%" height="50%"
            alt="...">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50">
                    <input matInput placeholder="Nombre" [(ngModel)]="nameModel" #name=ngModel name=name required>
                    <mat-error class="text-danger" *ngIf="name.value!=undefined||name.value!=' '">
                        Campo Obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50">
                    <input type="text" matInput placeholder="Teléfono" [(ngModel)]="phoneModel" #phone=ngModel
                        name=phone>
                </mat-form-field>
            </div>
            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50 ">
                    <input matInput placeholder="Correo" [(ngModel)]="emailModel" #email="ngModel" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                    <mat-error class="text-danger"
                        *ngIf="email.invalid && email.value!=undefined && email.value!='' && (email.dirty || email.touched)">
                        Email INCORRECTO
                    </mat-error>
                    <mat-error class="text-danger" *ngIf="email.value==undefined||email.value==''">
                        Campo Obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50">
                    <input type="password" placeholder="Contraseña" [formControl]="password" matInput name="password"
                        required>
                    <mat-error class="text-danger" *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50">
                    <input type="password" placeholder="Confirmar contraseña" [formControl]="confirmPassword" matInput
                        name="confirmPassword" required>
                    <mat-error class="text-danger"
                        *ngIf="confirmPassword.value==undefined||confirmPassword.value=='' || confirmPassword.invalid">
                        Campo Obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center my-3" *ngIf="passwordsMatch">
                <small class="text-danger">
                    Contraseñas <strong>Diferentes</strong>
                </small>
            </div>
            <div class="row justify-content-center form-group">
                <input type="submit" class="btn btn-outline-primary textButton w-25" value="Registro">
            </div>
            <div class="row justify-content-center form-group">
                <span class="text-success myFont">{{messageFromServer}}</span>
            </div>
        </form>
    </div>
</div>