.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .background-image { 
    min-height: 100%;
    height: 100%;
    /* background-image: url("~/assets/img/carwash3.jpg");  */
    background-size: 100%;
    /* background-color:rgba(5, 5, 5, 0.589);  */
    background-position: 50%;

}

.myFont{
  font-size: 16px;
}

.textButton{
  font-weight: 600;
  color:rgba( 120 ,186, 182,255) !important;
}
