<div class="container">
    <div class="my_font" *ngIf="invalidError" style="color:red">
        {{ invalidError.message }}
    </div>

    <stripe-card #stripeCard (catch)="onStripeError($event)" [(invalid)]="invalidError" [(token)]="token"
        (tokenChange)="setStripeToken($event)" (sourceChange)="setStripeSource($event)"></stripe-card>
    <div class="row justify-content-center">
        <button type="button" class="my_button btn btn-danger mt-3 w-50" (click)="dismissDialog()">Cancelar</button>
        <button type="button" class="my_button btn btn-primary mt-3 w-50"
            (click)="stripeCard.createToken(extraData)">Agregar</button>
    </div>

</div>