<div class="container-fluid  background-image ">
    <div class="container ">
        <img src="assets/img/bucket_logo.png" class=" mx-auto d-block img-fluid form-group" width="50%" height="50%"
            alt="...">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50 ">
                    <input matInput placeholder="Correo" [(ngModel)]="emailModel" #email="ngModel" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                    <mat-error
                        *ngIf="email.invalid && email.value!=undefined && email.value!='' && (email.dirty || email.touched)">
                        Email Incorrecto
                    </mat-error>
                    <mat-error *ngIf="email.value==undefined||email.value==''">
                        Email Obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center form-group">
                <mat-form-field class="w-50">
                    <input type="password" placeholder="Contraseña" [(ngModel)]="passwordModel" matInput name="password"
                        #password=ngModel required>
                    <mat-error
                        *ngIf="password.value==undefined||password.invalid && (password.dirty || password.touched)">
                        Campo Obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center form-group">
                <input type="submit" class="btn btn-outline-primary textButton w-25" value="Login">
            </div>
            <div class="row justify-content-center form-group">
                <span class="text-danger">{{errorsFromServer}}</span>
            </div>

        </form>
    </div>
</div>