.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .background-image { 
  
    min-height: 80%;
    height: 80%;
    height:80vh;
    /* background-image: url("~/assets/img/carwash4.jpg");  */
    background-size: 100%;
    /* background-color:rgba(5, 5, 5, 0.589);  */
    /* background-position-y: -8em;
    background-repeat: repeat-y; */
}
.textButton{
  font-weight: 600;
    color:rgba( 120 ,186, 182,255) !important;
}


