<div class="container-fluid background-image">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h4>Tipo de vehículo</h4>
                        <mat-form-field>
                            <mat-label>Seleccionar</mat-label>
                            <mat-select [(value)]="currentVehicle" >
                                <mat-option *ngFor="let TypeOfVehicle of TypeOfVehicles" [value]="TypeOfVehicle.viewValue">
                                    {{TypeOfVehicle.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                       
                    </div>
                    <div class="col-6">
                        <h4>Tipo de servicio</h4>
                        <mat-form-field>
                            <mat-label>Seleccionar</mat-label>
                            <mat-select [(value)]="currentService">
                                <mat-option *ngFor="let TypeOfService of TypeOfServices" [value]="TypeOfService.value">
                                    {{TypeOfService.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col-6">
                        <h4>Metodo de pago</h4>

                        <mat-form-field>
                            <mat-label>Seleccionar</mat-label>
                            <mat-select [(value)]="currentPayMethod">
                                <mat-option *ngFor="let PayMethod of PayMethods" [value]="PayMethod.value">
                                    {{PayMethod.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <h4>Nivel de suciedad</h4>
                        <mat-slide-toggle [(ngModel)]="dirty">Muy sucio!</mat-slide-toggle>

                    </div>
                </div>

                <div class="row justify-content-center">
                    <h4>Fecha y hora</h4>
                    <mat-label class="px-3 pt-1">{{dateLabel}}</mat-label>
                </div>
                <div class="row justify-content-center">
                    <span class="text-danger" [hidden]="flagValidateDate">La fecha y hora debe ser una hora mas a la fecha y hora actual</span>
                </div>
                <div class="row justify-content-center pb-4">
                    <mat-accordion>
                        <mat-expansion-panel   [expanded]="step === 1" (opened)="setStep(1)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Seleccionar fecha y hora
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="container w-100 p0 m0">
                                <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5"
                                    [(ngModel)]="selectedDate"  (change)="onCustomDateChange($event)">
                                </dl-date-time-picker>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

            </div>
            <div class="col-6">
                <app-googlemap></app-googlemap>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <input type="submit" class="btn btn-primary w-50"   value="Confirmar servicio" (click)="onSubmit();">
        </div>
        <div class="row justify-content-center">
            <span class="text-danger" [hidden]="!flagInvalidForm">Faltan campos por seleccionar</span>
        </div>
    </div>