.background-image { 
  
    min-height: 80%;
    height: 80%;

    /* background-image: url("~/assets/img/carwash4.jpg");  */
    background-size: 100%;
     /* background-color:rgba(5, 5, 5, 0.589);  */
    
}
