/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
/* const Color azulClaroFormText = Color.fromARGB(120, 0, 130, 227);
const Color azulVerdeClaro = Color.fromARGB(255, 120, 186, 182); */
body{
    margin:0;
}

html,
body{
    height: 100%;
    font-size: 20px;
    color:rgba( 120 ,186, 182,255) !important;
       
}


.mat-form-field-label{
    color:rgba( 120 ,186, 182,255) !important;
  }
  .mat-form-field-underline{
    background-color:rgba( 120 ,186, 182,255) !important;
  }