.background-image { 

    min-height: 80%;
    height: 80%;
    height:80vh;
    /* background-image: url("~/assets/img/carwash4.jpg");  */
    /* background-size: 100%;
     background-color:rgba(5, 5, 5, 0.589);  */
    
}

.btn-danger-paypal {
    
    color: #fff;
    background-color: #dc3545;
    border-radius: 30px;
    border: 1px solid rgba(220, 53, 69, 0.75);     
   
  }
