<div class="container-fluid background-image text-dark">
    <div class="container pt-2 ">
        <div class="row justify-content-center ">
            <ul class="list-group w-50">
                <li class="list-group-item ">Precio <strong>{{amount}}</strong></li>
                <li class="list-group-item">Tipo de vehìculo <strong>{{vehicle}}</strong></li>
                <li class="list-group-item"> <strong>{{service}}</strong></li>
                <li class="list-group-item">Fecha y hora <strong>{{schedule}}</strong></li>
                <li class="list-group-item">Mètodo de pago <strong>{{paymentMethod}}</strong></li>
                <li class="list-group-item">Ubicaciòn aprox. del vehìculo <strong>{{address}}</strong></li>
                <li class="list-group-item" *ngIf="this.paymentMethod=='Tarjeta'">
                    <app-paypal></app-paypal>
                    <div class="row justify-content-center ">
                        <button class="btn btn-danger-paypal w-75" (click)="onCancel();">Cancelar</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center" *ngIf="this.paymentMethod=='Efectivo'">
            <button class="btn btn-danger w-25" (click)="onCancel();">Cancelar</button>
            <button class="btn btn-primary w-25">Confirmar</button>
        </div>


    </div>
</div>